@import "tailwindcss";

/* Custom global styles can be added here */
:root {
  --background: #0f172a; /* Bleu nuit très foncé */
  --foreground: #f8fafc;
  --accent: #22d3ee;    /* Cyan électrique */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Aptos', sans-serif;
}

@keyframes waving-hand {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@layer utilities {
  .animate-waving-hand {
    animation: waving-hand 2.5s infinite;
  }
}